{% extends 'Front/layout.html.twig' %}

{% block title 'Confirmation inscription newsletter' %}


{% block content %}
    <div class="box_congratulation container">
        <h1 class="congrat_title text-center">Bravo, vous êtes abonné(e) à la newsletter !</h1>
    </div>
    <div class="img-validation">
        <img src="{{ asset('front/images/validation-newsletter.png') }}" alt="validation compte">
    </div>
{% endblock %}
