{% extends 'Front/layout.html.twig' %}

{% block title 'Confirmation inscription newsletter' %}


{% block content %}
    <div class="box_congratulation container">
        <h1 class="congrat_title">Bravo, vous êtes abonné à la newsletter</h1>
    </div>
{% endblock %}
