<section class="rub-cat-bdmk">
    <div class="container">
        <div class="row">
            {% for rubrique in rubriques %}
                <div class="col-lg-3 col-md-6 col-sm-6 col-6 rub-box-bdmk">
                    <p class="rub-cat-title">{{ rubrique.title }}</p>
                    <ul class="cat-list-by-rub">
                        {% for category in rubrique.categories %}
                        <li>{{ category.title }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
