{% extends 'Front/layout.html.twig' %}

{% block title 'Création de compte' %}


{% block content %}
   <main class="choice_registration">
        <div class="container">
            <h1 class="main_title_ch_r">AKWABA</h1>
            <span class="subtitle_ch_r">Faites le choix de création de votre compte</span>
            <div class="row">
                <div class="col-md-12 col-lg-4 col-sm-12">
                    <div class="pricing_table">
                        <div class="pricing_header">
                            <div class="price">Compte personnel</div>
                        </div>
                        <div class="pricing_content">
                            <ul class="mb0">
                                <li>50 Property Listings</li>
                                <li>60 Days Availability</li>
                                <li>20 Featured Property</li>
                                <li>Limited Support</li>
                            </ul>
                        </div>
                        <div class="pricing_footer">
                            <a class="btn pricing_btn btn-block" href="{{ path('registration_bdmk') }}">Allez - y</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4 col-sm-12">
                    <div class="img-welcome">
                        <img class="welcome" src="{{ asset('front/images/welcome.png') }}" alt="Bienvenue sur Bandama Market"/>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4 col-sm-12">
                    <div class="pricing_table">
                        <div class="pricing_header">
                            <div class="price">Compte professionel</div>
                        </div>
                        <div class="pricing_content">
                            <ul class="mb0">
                                <li>50 Property Listings</li>
                                <li>60 Days Availability</li>
                                <li>20 Featured Property</li>
                                <li>Limited Support</li>
                            </ul>
                        </div>
                        <div class="pricing_footer">
                            <a class="btn pricing_btn btn-block" href="{{ path('registration_pro_bdmk') }}">Allez - y</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </main>
{% endblock %}
