{% extends 'Front/layout.html.twig' %}

{% block title 'Activation Compte' %}


{% block content %}
    <div class="box_congratulation container">
        <h1 class="congrat_title">{{ info.message }}</h1>
        {% if info.status == 'success' %}
            <div class="congrat_text">
                Bienvenue sur Bandama Market.
            </div>
            <a class="connect-bdmk" href="{{ path('login_bdmk') }}">Se connecter !</a>
        {% endif %}
        <div class="img-validation">
            <img src="{{ asset('front/images/validation-account.png') }}" alt="validation compte">
        </div>
    </div>
{% endblock %}
