{% extends 'Front/layout.html.twig' %}

{% block title 'Liste annonces' %}
{% block content %}
    <main class="main">
        <section class="annonces-search-liste">
            <div class="container">
                <h1 class="title-home">Souriez ! la vie est belle, des petites annonces rien que pour vous.</h1>
                {% include 'Front/Inc/search_home_inc.html.twig' %}
            </div>
        </section>
        <section class="annonces-liste">
            <div class="container">
                <div class="row sct-result-annonces">
                    <div class="col-md-12 col-lg-8">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="feat_property list">
                                    <div class="thumb">
                                        <img class="img-whp" src="#" alt="fp1.jpg">
                                        <div class="thmb_cntnt">
                                            <ul class="icon mb0">
                                                <li class="list-inline-item"><a href="#"><span class="flaticon-transfer-1"></span></a></li>
                                                <li class="list-inline-item"><a href="#"><span class="flaticon-heart"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="details">
                                        <div class="tc_content">
                                            <div class="dtls_headr">
                                                <ul class="tag">
                                                    <li class="list-inline-item"><a href="#">For Rent</a></li>
                                                    <li class="list-inline-item"><a href="#">Featured</a></li>
                                                </ul>
                                                <a class="fp_price" href="#">$13,000<small>/mo</small></a>
                                            </div>
                                            <p class="text-thm">Apartment</p>
                                            <h4>Renovated Apartment</h4>
                                            <p><span class="flaticon-placeholder"></span> 1421 San Pedro St, Los Angeles, CA 90015</p>
                                            <ul class="prop_details mb0">
                                                <li class="list-inline-item"><a href="#">Beds: 4</a></li>
                                                <li class="list-inline-item"><a href="#">Baths: 2</a></li>
                                                <li class="list-inline-item"><a href="#">Sq Ft: 5280</a></li>
                                            </ul>
                                        </div>
                                        <div class="fp_footer">
                                            <ul class="fp_meta float-left mb0">
                                                <li class="list-inline-item"><a href="#"><img src="" alt="pposter1.png"></a></li>
                                                <li class="list-inline-item"><a href="#">Ali Tufan</a></li>
                                            </ul>
                                            <div class="fp_pdate float-right">4 years ago</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 mt20">
                                <div class="mbp_pagination">
                                    <ul class="page_navigation">
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true"> <span class="flaticon-left-arrow"></span> Prev</a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item active" aria-current="page">
                                            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">...</a></li>
                                        <li class="page-item"><a class="page-link" href="#">29</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#"><span class="flaticon-right-arrow"></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <div class="feat_property home7">
                            <div class="thumb">
                                <img class="img-whp" src="{{ asset('front/images/no-image.jpg') }}" alt="fp3.jpg">
                                <div class="thmb_cntnt">
                                    <ul class="tag mb0">
                                        <li class="list-inline-item"><a href="#">For Sale</a></li>
                                        <li class="list-inline-item dn"></li>
                                    </ul>
                                    <ul class="icon mb0">
                                        <li class="list-inline-item"><a href="#"><span class="flaticon-transfer-1"></span></a></li>
                                        <li class="list-inline-item"><a href="#"><span class="flaticon-heart"></span></a></li>
                                    </ul>
                                    <a class="fp_price" href="#">$13,000<small>/mo</small></a>
                                </div>
                            </div>
                            <div class="details">
                                <div class="tc_content">
                                    <p class="text-thm">Single Family Home</p>
                                    <h4>Luxury Family Home</h4>
                                    <p><span class="flaticon-placeholder"></span> 1421 San Pedro St, Los Angeles, CA 90015</p>
                                    <ul class="prop_details mb0">
                                        <li class="list-inline-item"><a class="text-thm3" href="#">Beds: 4</a></li>
                                        <li class="list-inline-item"><a class="text-thm3" href="#">Baths: 2</a></li>
                                        <li class="list-inline-item"><a class="text-thm3" href="#">Sq Ft: 5280</a></li>
                                    </ul>
                                </div>
                                <div class="fp_footer">
                                    <ul class="fp_meta float-left mb0">
                                        <li class="list-inline-item"><a href="#"><img src="#" alt="pposter1.png"></a></li>
                                        <li class="list-inline-item"><a href="#">Ali Tufan</a></li>
                                    </ul>
                                    <div class="fp_pdate float-right">4 years ago</div>
                                </div>
                            </div>
                        </>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
