<footer id="footer" class="uk-section uk-margin-remove uk-section-xsmall uk-text-small uk-text-muted border-top">
    <div class="uk-container">
        <div class="uk-child-width-1-2@m uk-text-center" uk-grid>
            <div class="uk-text-right@m">
                <a href="#" class="uk-icon-link uk-margin-small-right" uk-icon="icon: facebook"></a>
                <a href="#" class="uk-icon-link uk-margin-small-right" uk-icon="icon: linkedin"></a>
            </div>
            <div class="uk-flex-first@m uk-text-left@m">
                <p class="uk-text-small">Bandama Market - 2022</p>
            </div>
        </div>
    </div>
</footer>

<div id="offcanvas" uk-offcanvas="flip: true; overlay: true">
    <div class="uk-offcanvas-bar">
        <a class="uk-margin-small-bottom uk-logo uk-text-uppercase" href="index.html"><span class="uk-margin-small-right" uk-icon="icon: lifesaver"></span> Knowledge</a>
        <ul class="uk-nav uk-nav-default uk-text-uppercase">
            <li><a href="index.html">Home</a></li>
            <li class="uk-parent">
                <a href="article.html">Article</a>
                <ul class="uk-nav-sub">
                    <li><a href="article.html">Scrollspy</a></li>
                    <li><a href="article-narrow.html">Narrow</a></li>
                </ul>
            </li>
            <li><a href="faq.html">Faq</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="components.html">Components</a></li>
        </ul>
        <a href="contact.html" class="uk-button uk-button-small uk-button-default uk-width-1-1 uk-margin">Support</a>
        <div class="uk-width-auto uk-text-center">
            <a href="#" class="uk-icon-link uk-margin-small-right" uk-icon="icon: facebook"></a>
            <a href="#" class="uk-icon-link uk-margin-small-right" uk-icon="icon: linkedin"></a>
        </div>
    </div>
</div>
