:root{
    --main-orange-color: #F77F00;
    --main-green-color: #009E60;
}

.map__image path {
    fill: var(--main-green-color);
    stroke: #fff;
    stroke-width: 1px;
    -webkit-transition: fill .3s;
    -o-transition: fill .3s;
    transition: fill .3s;
}

.map__image .is-active path {
    fill: var(--main-orange-color);
    stroke: #fff;
    stroke-width: 1px;
    -webkit-transition: fill .3s;
    -o-transition: fill .3s;
    transition: fill .3s;
}

.map__list a{
    text-decoration: none;
}

.map__list a.is-active{
    text-decoration: underline;
    font-weight: bold;
}

.map__image {
    text-align: center;
}

.map__list {
    text-align: center;
}

.map__image svg {
    width: 100%;
}


.carte-select .dropdown-item {
    font-family: inherit;
    font-weight: 300;
    font-size: 13px;
}

.carte-select .dropdown-item:hover {
    color: #fff;
    font-family: inherit;
    font-weight: 300;
    font-size: 13px;
    background: var(--main-green-color);
}

.carte-select .dropdown-toggle:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.carte-select button#dropdownMenuButton {
    background: transparent !important;
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    width: 180px;
    color: #222222e0 !important;
    border: 1px solid #7d7b7b;
    padding-bottom: 7px;
}
.carte-select {
    margin-bottom: 10px;
}

.carte-select .dropdown-menu.show {
    width: 180px;
    height: 200px;
    background: #fff;
    overflow-y: scroll;
}

.carte-select .dropdown-menu.show::-webkit-scrollbar {
    width: 3px;
}

.carte-select .dropdown-menu.show::-webkit-scrollbar-thumb {
    background-color: #222;
    border-radius: 6px;
    border: 1px solid #222;
}
.carte-select .dropdown-menu.show::-webkit-scrollbar-track {
    background: #fff;
}

.carte-select .dropdown-menu.show {
    scrollbar-width: 3px; /* "auto" or "thin" */
    scrollbar-color:  #222 #fff; /* scroll thumb and track */
}


.header-nav {
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

header.header-nav.menu_style_home_one .ace-responsive-menu li a {
    color: #222 !important;
}

header.header-nav.menu_style_home_one .ace-responsive-menu li a,
header.header-nav.menu_style_home_one .ace-responsive-menu li a .title {
    color: #222 !important;
    font-weight: 700;
    font-size: .9rem;
}

.header-nav .flaticon-user .dn-lg {
    background: var(--main-orange-color);
    color: #fff;
    padding: 0.5em 1em;
    border-radius: 5px;
    font-weight: 600;
}

.header-nav .flaticon-user:before{
    display: none;
}

header.header-nav a.navbar_brand{
    margin-top: 16px !important;
}

.give-annonce {
    color: #fff;
    background: #009E60;
    padding: 0.5em 1em;
    border-radius: 5px;
    font-weight: 600;
}

.home_adv_srch_opt .tab-content {
    -webkit-box-shadow: 0 0 24px 0 rgba(32, 32, 32, 0.15);
    box-shadow: 0 0 24px 0 rgba(32, 32, 32, 0.15);
}

.home1-advnc-search ul li .search_option_button button{
    border-radius: 8px;
    background: var(--main-orange-color);
    -webkit-box-shadow:0px 1px 4px 0px rgba(255, 90, 95, 0.3);
    -o-box-shadow:0px 1px 4px 0px rgba(255, 90, 95, 0.3);
    box-shadow:0px 1px 4px 0px rgba(255, 90, 95, 0.3);
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    line-height: 1.2;
    height: 50px;
    width: 170px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.btn-thm{
    border-color: var(--main-orange-color) !important;
}

.home1-advnc-search ul li .search_option_button button:hover{
    border: 2px solid var(--main-orange-color) !important;
    background: #fff !important;
    color: var(--main-orange-color) !important;
}

.link_ch_r {
    background: var(--main-green-color);
    color: #fff;
    border: 1px solid var(--main-green-color);
}

.link_ch_r:hover {
    background-color: #146947;
    border-color: #009E60;
    color: #fff;
}


.search-home .home_adv_srch_opt{
    margin-top: 0;
}

.box-btn-gv-ann {
    margin: 30px 0;
    padding: 30px 0;
    text-align: center;
}

.btn-gv-ann {
    font-size: 15px;
    font-family: inherit;
    font-weight: 600;
    color: #fff !important;
    background: var(--main-green-color);
    padding: 0.5em 1em;
    border-radius: 5px;
    border: 2px solid var(--main-green-color);
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
}


.btn-gv-ann:hover {
    background: #fff;
    color: var(--main-green-color) !important;
    -webkit-transition: .3s all ease-in;
    -o-transition: .3s all ease-in;
    transition: .3s all ease-in;
}

.search-home {
    padding: 60px 0 10px;
}


.show>.btn-secondary.dropdown-toggle:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.home-content-texte {
    font-size: 15px;
    font-family: inherit;
    color: #222;
    font-weight: 600;
    text-align: center;
    margin: 2em 0 0;
}

.title-info-home {
    display: block;
    font-weight: 700;
    color: #222;
    font-size: 22px;
    font-family: inherit;
    margin: .5em 0;
}

.text-info-home {
    display: block;
    font-weight: 400;
    color: #222;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 2em;
}

.btn-info-home, .btn-info-home:hover {
    font-weight: 700;
    color: #fff;
    font-size: 14px;
    font-family: inherit;
    padding: 0.8em 1em;
    background: var(--main-orange-color);
    border-radius: 6px;
}

.box-info-home {
    margin: 20px 0;
    background: #f77f003d;
    padding: 10px 20px 25px;
    border-radius: 6px;
}


.tooltip-main {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-weight: 700;
    background: #f3f3f3;
    border: 1px solid #fff;
    color: #fff;
    margin: 4px 121px 0 5px;
    float: right;
    text-align: left !important;
}

.tooltip-qm {
    float: left;
    margin: -2px 0px 3px 4px;
    font-size: 12px;
}

.tooltip-inner {
    max-width: 236px !important;
    font-size: 13px;
    font-family: inherit;
    font-weight: 600;
    padding: 10px 15px 10px 20px;
    background: var(--main-orange-color);
    color: #fff;
    border: 1px solid var(--main-orange-color);
    text-align: center;
}

.tooltip.show {
    opacity: 1;
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before {
    border-bottom-color: #fff !important;
}


.main {
    background: #f7f7f796;
    padding-bottom: 60px;
}

.rub-cat-title {
    font-family: inherit;
    font-size: 15px;
    font-weight: 700;
    color: #222;
}

.cat-list-by-rub li {
    font-size: 16px;
    color: #22222285;
    font-weight: 600;
}

.rub-box-bdmk:not(:last-child)::after {
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    background: #2222223d;
    margin: 20px auto;
}

.rub-cat-bdmk {
    background: #cecece69;
}

.btn-bdmk-mb {
    background: var(--main-orange-color);
    color: #fff;
    font-weight: 600;
}

span.select2.select2-container.select2-container--default{
    width: 100% !important;
}

.mm-navbar__title {
    font-weight: bold;
}


.title-home {
    margin-bottom: 20px;
    font-size: 20px;
}

.login_form.inner_page {
    padding: 25px;
    -webkit-box-shadow: 0 0 10px 0 rgb(0 0 0 / 15%);
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 15%);
    border-radius: 7px;
    background: #fff;
    width: 100%;
}

.stylehome1.h0 {
    -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%);
}

.txt-cg{
    font-weight: bold;
}

.rl_bdmk{
    display: block;
}

.text-underline{
    text-decoration: underline;
}

.main-register {
    padding-bottom: 60px;
}

.form_register label {
    color: #222;
    font-family: inherit;
    font-weight: 600;
    font-size: 15px;
}

.form_register {
    margin-top: 60px;
}

.form_register form {
    margin-top: 10px;
}

form input:focus {
    border-width: 2px;
}
.register-btn {
    margin-top: 1em;
}

#registration_civility input {
    margin-right: 5px;
}

#registration_civility label {
    margin-right: 15px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 42px !important;
}

.form_register .details {
    margin-top: 30px;
}

.select2-container .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__arrow
{
    height: 42px !important;
    padding-left: 12px;
}

select.form-control {
    font-size: 14px !important;
}

span.select2-selection.select2-selection--single {
    font-size: 14px;
}

.form-control {
    height: 43px !important;
}

label[for="registration_city"] {
    display: block;
}

.form_register input {
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
}


.footer-fixed{
    border-top: 1px solid #f7f7f75e;
    background-color: #323232;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
}

.logo1, .logo2{
    width: 150px;
    height: 62px
}

.congrat_title {
    margin: 10px 0 30px;
}

.box_congratulation {
    padding-top: 60px;
    padding-bottom: 60px;
}

.congrat_title {
    margin: 10px 0 40px;
}

.congrat_text {
    font-family: inherit;
    color: #4c4c4c;
    font-weight: 600;
    font-size: 16px;
}

.color-mail-congrat {
    color: var(--main-orange-color);
}

.connect-bdmk{
    color: var(--main-orange-color);
    font-weight: 600;
    text-decoration: underline;
    margin: 35px 0;
    display: block;
}

.choice_registration {
    padding: 60px 0;
}

.main_title_ch_r{
    text-align: center;
}

.subtitle_ch_r {
    text-align: center;
    display: block;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 3em;
    color: #222222c4;
}

.title_ch_r {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    margin: 0 auto;
    border: 2px solid var(--main-green-color);
    padding: 0.5em 0;
    color: #fff;
    background: var(--main-green-color);
}

.liste_ch_r {
    margin: 2rem 0;
}
.ch_r i.fa-check {
    color: var(--main-green-color);
}

.ch_r i.fa-ban {
    color: var(--main-orange-color);
}

.ch_r {
    color: #222;
    font-size: 15px;
    font-weight: 600;
    margin: 1.5em 0;
    text-align: center;
}

.box_ch_r{
    text-align: center;
    margin-bottom: 50px;
}

.link_ch_r {
    background: var(--main-green-color);
    color: #fff;
    border: 1px solid var(--main-green-color);
    font-size: 13px;
    font-weight: 600;
    padding: 0.7em;
    border-radius: 4px;
    margin: 2em 0;
}

.fx_ch_r::after {
    content: '';
    width: 60%;
    display: block;
    background: #2226;
    height: 1px;
    margin: 0 auto 40px;
}

.link_hct, .link_hct:hover {
    color: var(--main-orange-color);
}

.icon-iuser{
    font-size: 18px !important;
    color: #4c4c4ce8;
}

#user-icon-header .arrow,
#user-icon-header::after {
    display: none;
}

a.dropdown-item.signout-head{
    color: var(--main-orange-color) !important;
}

.main-dashboard {
    padding: 60px 0;
}

.box-panel-dash {
    display: block;
    padding: 24px;
    box-shadow: 0 0 9px #99999970;
    border-radius: 7px;
    margin: 10px 0;
}

.title-panel-dash {
    margin-top: 1.5em;
    font-size: 18px;
    font-weight: 700;
}

.icon-panel-dash img {
    width: 40px;
    height: 40px;
}

.text-panel-dash {
    font-size: 15px;
    color: #222;
    font-weight: 300;
}



@media (min-width: 992px) {
    .menu-dashboard .row:nth-child(2) {
        margin-top: 1rem;
    }
    .box-panel-dash {
        margin: 0;
    }
    .fx_ch_r::after {
        display: none;
    }

    .box_congratulation {
        padding: 60px 0;
    }
}
@media (min-width: 768px) {

    .title-home{
        font-size: 36px !important;
    }

    .login_form.inner_page {
        width: 550px;
    }

    .rl_bdmk{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .map__image svg {
        width: 50%;
    }
}
