{% extends 'Front/layout.html.twig' %}

{% block title 'Le lien a expiré' %}

{% block content %}

    <section class="our-log bgc-fa">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="box_congratulation container" id="recovery-box-password">
                        <h1 class="congrat_title">'Désolé le lien d'activation a expiré'</h1>
                        <span class="libelle_recovery">Veuillez créer un nouveau compte</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
