{% extends 'Front/layout.html.twig' %}

{% block title 'Le lien a expiré' %}

{% block content %}

    <section class="our-log bgc-fa">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="box_congratulation container" id="recovery-box-password">
                        <h1 class="title_link_expired">Désolé le lien d'activation a expiré !</h1>
                        <a href="{{ path('choice_registration_bdmk') }}" class="link-expired">Veuillez créer un nouveau compte</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
