{% extends 'Front/layout.html.twig' %}

{% block title 'Activation Compte' %}

{% block content %}
    <div class="box_congratulation container">
        <h1 class="congrat_title">Un email a été envoyé à votre adresse mail !</h1>
        <div class="congrat_text">
            Loremipsum
        </div>
    </div>
{% endblock %}
