{% extends 'Front/layout.html.twig' %}

{% block title 'Mot de passe oublié' %}

{% block content %}

    <section class="our-log bgc-fa">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="box_congratulation container" id="recovery-box-password">
                        <h1 class="congrat_title">Mot de passe oublié</h1>
                        <span class="libelle_recovery">Entrez l'adresse e-mail associée à votre compte</span>
                        <form method="post" id="form-recovery-passwd">
                            <div class="form-group">
                                <input type="email" id="email-recovery" class="form-control" required="required" placeholder="Saisir votre mail"/>
                            </div>
                            <button class="btn btn-log btn-thm2 register-btn" id="send-recovery">Envoyer</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
