{% extends 'Front/layout.html.twig' %}

{% block title 'A propos de nous' %}

{% block content %}
    <section class="inner_page_breadcrumb wru-bg">
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <div class="breadcrumb_content">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ path('home_bdmk') }}">Accueil</a></li>
                            <li class="breadcrumb-item active" aria-current="page">A propos de nous</li>
                        </ol>
                        <h1 class="breadcrumb_title">A propos de nous</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About Text Content -->
    <section class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="main-title text-center">
                        <h2 class="mt0">A propos de nous</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="about_content">
                        <span class="info-hi">
                            Tel le fleuve Bandama, traversant la Côte d'Ivoire du nord au sud, Bandama market est une plateforme conçue pour réunir les personnes et les entreprises de différents horizons Ivoiriens.
                        </span><br>
                        <span class="title-hi">DES PETITES ANNONCES RIEN QUE POUR VOUS!!!</span>
                        <span class="info-hi">
                            Bandama c'est avant tout un site d'échange, de création d'opportunités et d'ouverture à un nouveau mode de consommation responsable.
                            <br>
                            Nous l'avons conçu pour vous aider à promouvoir vos biens et services en toute sécurité.<br>
                            N'attendez plus, achetez, vendez, louez vos biens et services.
                        </span>
                        <div class="button-hi">
                            <a href="{{ path('admin_annnonce_add_bdmk') }}" class="add-annonce-hi"><i class="fa fa-plus-circle"></i> Déposer une annonce</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="block-img-wru">
                        <img src="{{ asset('front/images/wru-section.png') }}" alt="Bandama Market" />
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
