{% extends 'Front/layout.html.twig' %}

{% block title 'Conditions générales d\'utilisation' %}

{% block content %}
    <section class="inner_page_breadcrumb cgu-bg">
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <div class="breadcrumb_content">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ path('home_bdmk') }}">Accueil</a></li>
                            <li class="breadcrumb-item active" aria-current="page">CGU</li>
                        </ol>
                        <h4 class="breadcrumb_title">Conditions générales d'utilisation</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Our Terms & Conditions -->
    <section class="our-terms bgc-f7">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-xl-12">
                    <div class="terms_condition_grid">
                        <div class="grids mb30">
                            <h2>1. Mentions préliminaires</h2>
                            <h4 class="phbet-title">a) Mentions légales</h4>
                            <p class="mb20">
                                Le présent site est édité par la société BANDAMA CORPORATION (ci-après " l'éditeur "), Société à Responsabilités Limités (SARL) au capital de 1 000 000 FCFA, immatriculée au registre du commerce et des sociétés (RCS) d'ABIDJAN sous le numéro XXXXXX, et dont le siège social est sis  XXXXXXXXXXX
                            </p>
                            <p>L'éditeur est joignable par courrier électronique à l'adresse suivante : xxxxxxxxxxxxx</p>
                            <p>Le présent site est hébergé par la société OVH dont le siège social est établi au 2 rue Kellermann - 59100 Roubaix et joignable par téléphone 1007</p>
                            <p>Le n° d'enregistrement CNIL est xxxxxx</p>
                            <p>Le directeur de la publication du présent site est monsieur xxxxxxx, ce dernier en exerçant également la fonction de xxxxxxxx.</p>
                        </div>
                        <div class="grids mb30">
                            <h4 class="phbet-title">b) Objet</h4>
                            <p class="mb20">Le présent site est d'accès libre et gratuit à tout internaute. Il a pour objet la publication de petites annonces gratuites, pour lesquelles les annonceurs auront la faculté de souscrire à des options payantes.</p>
                            <p> Les présentes conditions générales ont pour vocation de régir les rapports entre l'éditeur et tout internaute, qu'il ait la qualité de visiteur ou d'annonceur.</p>
                        </div>
                        <div class="grids mb30">
                            <h4 class="phbet-title">c) Acceptation des conditions générales</h4>
                            <p class="mb20">L'utilisation des services proposés sur le présent site suppose l'acceptation par l'internaute des présentes conditions générales qui reconnaît du même fait en avoir pris pleinement connaissance. Cette acceptation consistera dans le fait, pour l'internaute, de valider les présentes conditions générales de vente et d'utilisation.</p>
                            <p class="mb20">Ce fait valider les présentes conditions générales sera réputé avoir la même valeur qu'une signature de la part de l'internaute qui reconnaît la valeur de preuve des systèmes d'enregistrement automatique de l'éditeur du présent site et, sauf pour lui d'apporter preuve contraire, il renonce à les contester en cas de litige.</p>
                            <p>L'acceptation des présentes conditions générales suppose de la part des internautes qu'ils jouissent de la capacité juridique nécessaire pour cela, ou à défaut qu'ils en aient l'autorisation d'un tuteur ou d'un curateur s'ils sont incapables, de leur représentant légal s'ils sont mineurs, ou encore qu'ils soient titulaires d'un mandat s'ils agissent pour le compte d'une personne morale.</p>
                        </div>
                    </div>
                    <div class="terms_condition_grid mt20">
                        <div class="grids mb30">
                            <h2>2. Préambule</h2>
                            <p class="mb20">
                                Dans le cadre de l'utilisation des services proposés sur le site, les annonceurs s'engagent par ailleurs et sans aucune limite ni réserve à :
                            </p>
                            <ul>
                                <li>Utiliser les services fournis par l'éditeur en bon père de famille et de façon loyale</li>
                                <li>Ne pas porter atteinte à la jouissance paisible du service par les autres membres</li>
                                <li>Respecter les droits des tiers</li>
                                <li>especter toutes les dispositions législatives ou règlementaires en vigueur</li>
                                <li>Ne pas tenir ou uploader, par l'une quelconque des interfaces mises à sa disposition par l'éditeur, de propos ou de contenus racistes, dénigrants, diffamatoires, mensongers, contraires à l'ordre public ou aux bonnes moeurs ou contrevenant à une disposition législative ou règlementaire en vigueur.</li>
                            </ul>
                            <p>Toute contravention aux présentes conditions générales ayant entrainé un dommage ou étant constitutive d'une violation des dispositions règlementaires ou législatives pourra être poursuivie directement à l'encontre du membre qui affranchit, par là même, l'éditeur du service, de toute responsabilité en la matière.</p>
                        </div>
                    </div>
                    <div class="terms_condition_grid mt20">
                        <div class="grids mb30">
                            <h2>3. Création d'un compte annonceur</h2>
                            <h4 class="phbet-title">a) Création du compte</h4>
                            <p class="mb20">
                                La création d'un compte annonceur est un préalable indispensable à l'utilisation des services offerts sur le site et à toute souscription à un service payant.
                            </p>
                            <p class="mb20">Cette création est effectuée par la validation du formulaire de dépôt d'une première annonce et la confirmation de celle-ci par le biais du lien qui sera envoyê dans la boîte email de l'annonceur.</p>
                            <p class="mb20">A cette fin, l'internaute sera invitê à fournir un certain nombre d'informations personnelles, il s'engage à fournir des informations exactes sous peine de rêsolution du contrat à l'initiative de l'éditeur et de suppression du compte annonceur.</p>
                            <p>Certaines informations seront indispensables à la conclusion du contrat et leur collecte sera indispensable à la crêation du compte annonceur et à la validation de la conclusion du contrat. Le refus par un internaute de fournir lesdites informations aura pour effet d'empêcher la création du compte annonceur ainsi que, incidemment, la conclusion du contrat.</p>
                        </div>
                        <div class="grids mb30">
                            <h4 class="phbet-title">b) Fonctionnement du compte</h4>
                            <p class="mb20">Cet espace permet à l'annonceur de consulter toutes ses commandes ainsi que toutes ses souscriptions aux services effectuêes sur le site, et lui permet êgalement, le cas êchêant, de suivre ses annonces, les modifier et les supprimer, ainsi que se dêsinscrire du site ou modifier les données personnelles le concernant.</p>
                            <p class="mb20">Si les données contenues dans la rubrique compte annonceur venaient à disparaître à la suite d'un cas fortuit, d'une panne technique ou d'un cas de force majeure, la responsabilité de l'éditeur du présent site ne pourrait être engagée, ces informations n'ayant qu'un caractère informatif. l'éditeur s'engage cependant à conserver de façon sécurisée tous les éléments contractuels dont la conservation est requise par la loi ou la règlementation en vigueur.</p>
                            <p>Les pages relatives aux comptes annonceurs sont librement imprimables par le titulaire du compte en question mais ne constituent nullement une preuve, elles n'ont qu'un caractère informatif destinê à assurer une gestion efficace de ses commandes par l'annonceur.</p>
                        </div>
                        <div class="grids mb30">
                            <h4 class="phbet-title">c) Mot de passe</h4>
                            <p>Lors de la création du compte annonceur, l'annonceur est invité à choisir un mot de passe. Ce mot de passe constitue la garantie de la confidentialité des informations contenues dans sa rubrique "mon compte" et il s'interdit donc de le transmettre ou de le communiquer à un tiers. A défaut, l'éditeur ne pourra être tenu pour responsable des accès non autorisés au compte d'un annonceur.</p>
                        </div>
                        <div class="grids mb30">
                            <h4 class="phbet-title">d) Suppression</h4>
                            <p class="mb20">L’éditeur se réserve le droit exclusif de supprimer le compte de tout annonceur qui aurait contrevenu aux présentes conditions générales (notamment mais sans que cet exemple n'ait un quelconque caractère exhaustif, lorsque l'annonceur aura fourni sciemment des informations erronées, lors de son inscription et de la constitution de son compte annonceur) ou encore tout compte inactif depuis au moins une année. Ladite suppression ne sera pas susceptible de constituer un dommage pour l'annonceur exclu qui ne pourra prétendre à aucune indemnité de ce fait.</p>
                            <p>Cette exclusion n'est pas exclusive de la possibilité, pour l'éditeur, d'entreprendre des poursuites d'ordre judiciaire à l'encontre de l'annonceur, lorsque les faits l'auront justifié.</p>
                        </div>
                    </div>
                    <div class="terms_condition_grid mt20">
                        <div class="grids mb30">
                            <h2>4. Publication de petites annonces</h2>
                            <h4 class="phbet-title">a) Dispositions générales</h4>
                            <p class="mb20">
                                La publication des annonces est ouverte à tout internaute titulaire d'un compte annonceur et titulaire des droits requis sur le bien objet de l'annonce publiée ou mandaté à cet effet s'il s'agit d'une annonce d'évènement ou d'une annonce d'offre de service. L'annonceur s'engage à ne publier ses annonces que dans le plus profond respect des dispositions légales en vigueur, dans le respect de l'ordre public et des bonnes moeurs. Les annonceurs s'interdisent de publier plusieurs annonces visant à la vente ou la location d'un même bien, ou la promotion d'un même évènement.
                            </p>
                            <p>Les annonces devront être rédigées dans un français correct et compréhensible, elles devront se conformer aux dispositions légales en vigueur et devront être dépourvues de tout critère discriminatoire quant à la qualité de l'éventuel cocontractant.</p>
                            <p>
                                Sont rigoureusement interdites les annonces portant sur des contrefaçons ou des produits illicites, de même que sur tous produits neufs ou d'occasion dont la vente est exclusivement réservée à un réseau de distributeurs agréés (tels les produits des marques du groupe LVMH). Tous les contrôles utiles pourront être menés par l'éditeur et toutes les annonces douteuses pourront faire l'objet d'une suppression sans préavis ni indemnité.
                            </p>
                            <p>
                                Les annonceurs ont la faculté de publier, dans le cadre de leurs annonces, un lien hypertexte vers un site qui leur est personnel, contenant par exemple un descriptif plus détaillé du bien ou du service, ou relatif à leur activité. Cette faculté est offerte à titre onéreux. Toute promotion d'un site concurrentiel au présent site, de même que tout dénigrement du présent site fera l'objet d'une suppression. Tout lien hypertexte menant vers un site concurrent au présent site ou contraire à la réglementation en vigueur sera susceptible d'être supprimé.
                            </p>
                            <p>
                                L’éditeur se réserve le droit de procéder à une modération des annonces publiées sur le présent site, il peut ainsi les supprimer ou les modifier avant ou au cours de leur publication sur le présent site.
                            </p>
                            <p>
                                Sur chacune des annonces, sera présent un lien hypertexte intitulé " signaler un problème ". Le fait, pour un visiteur, de cliquer sur ce lien aura pour effet d'alerter immédiatement l'éditeur du contenu présumé douteux ou erroné d'une annonce. L’éditeur prendra alors les mesures qui s'imposent, au vu de l'annonce, de son contenu ou de son prix.
                            </p>
                            <p>
                                Au cours de la publication de l'annonce, l'annonceur disposera, via son espace personnel, de la faculté de modifier la fiche descriptive des biens proposés en annonce sur le site. Ces modifications seront possibles, tout au long de la publication de l'annonce. Les annonceurs auront également la possibilité de télécharger des photographies relatives au bien objet de l'annonce. Le nombre de photographies pouvant être publiées gratuitement est limité à trois, cependant l'éditeur se réserve le droit de supprimer tout ou partie des photographies publiées dans le cadre d'une annonce, notamment dans le but de se prémunir contre toutes formes d'abus. Les photographies téléchargées devront être au format JPG, d'une taille maximale ne pouvant excéder 4 mégaoctets.
                            </p>
                            <p>
                                Les annonces publiées sur le présent site seront susceptibles d'être publiées sur tous sites partenaires et affiliés. Les annonceurs prennent expressément acte de cette transmission des données de l'annonce à des tiers partenaires et reconnaissent qu'ils peuvent s'y opposer en formulant leur demande par écrit, auprès du service client de l'éditeur.
                            </p>
                            <p>
                                La publication de l'annonce suppose que l'annonceur clique sur le lien d'activation qui lui sera envoyé par courrier électronique. A défaut de valider sur ledit lien, l'annonce ne pourra être publiée et sera supprimé automatiquement au bout de 36 heures.
                            </p>
                            <p>
                                Par ailleurs, il est expressément indiqué à l'annonceur que toutes les annonces seront soumises à la validation de l'éditeur ou de son équipe de modérateurs. Tout refus de publication n'aura pas à être motivé. L'annonceur ne dispose d'aucun recours en cas de refus, si ce n'est la faculté dont il dispose d'effectuer une nouvelle demande de publication d'annonce.
                            </p>
                        </div>
                        <div class="grids mb30">
                            <h4 class="phbet-title">b) Dispositions particulières</h4>
                            <p class="mb20">Certains types de produits justifient que l'annonceur complète un certain nombre de champs de formulaire relatif au bien ou au service proposé, requis par les dispositions légales applicables.</p>
                            <h6 class="phbet-title">1 - Vente d'immeubles :</h6>
                            <p class="mb20">Afin de respecter les dispositions législatives et réglementaires en vigueur, tout annonceur est tenu, dans le cadre de la publication d'une annonce relative à la vente d'un bien immobilier, d'indiquer l'année de construction dudit immeuble, sa surface, et d'être en mesure de fournir à tout intéressé les différents documents de diagnostic requis par les règlements nationaux et régionaux tels que (mais sans que cette liste n'ait un caractère exhaustif) la présence d'Amiante, de Plomb, l'état parasitaire ou encore l'état des risques naturels et technologiques majeurs.</p>
                            <p>En outre, si l'annonceur agit dans le cadre d'un mandat de vente qui lui a été consenti en sa qualité d'agent immobilier, il est tenu d'indiquer le prix de vente net vendeur ainsi que le montant des honoraires qui lui sont dus.
                            </p>
                            <h6 class="phbet-title">2 - Location d'immeubles :</h6>
                            <p class="mb20">
                                Afin de respecter les dispositions législatives et réglementaires en vigueur, tout annonceur est tenu, dans le cadre de la publication d'une annonce relative à la location d'un bien immobilier, d'indiquer la surface habitable dudit immeuble, et d'être en mesure de fournir à tout intéressé les différents documents de diagnostic requis par les règlements nationaux et régionaux tels que le diagnostic énergétique ainsi que l'état de réception des canaux de télévision hertziens et numériques.
                            </p>
                            <p>
                                En outre, si l'annonceur agit dans le cadre d'un mandat de location qui lui a été consenti en sa qualité d'agent immobilier ou de gestionnaire d'immeuble, il est tenu d'indiquer le montant de la location mensuelle, le montant des charges et/ou provisions sur charge ainsi que, le cas échéant, le montant des honoraires qui lui sont dus en cette qualité.
                            </p>
                            <h6 class="phbet-title">3 - Vente de véhicules (auto, moto etc.)</h6>
                            <p class="mb20">
                                Afin de respecter les dispositions législatives et réglementaires en vigueur, tout annonceur est tenu d'indiquer dans le contenu de son annonce les informations relatives au véhicule mis en vente. Il sera ainsi tenu de mentionner le kilométrage du véhicule (ainsi que la mention si celui-ci fait l'objet d'une quelconque garantie), la date de première mise en circulation, le nombre de chevaux fiscaux, la marque ainsi que le modèle exact du véhicule, les consommations énergétiques dudit véhicule ainsi que leurs méthodes de calcul. L'annonceur devra en outre être en mesure de produire le rapport de contrôle technique du véhicule datant de moins de six mois, ainsi que le certificat de non opposition au transfert du certificat d'immatriculation.
                            </p>
                            <h6 class="phbet-title">4 - pour les animaux</h6>
                            <p class="mb20">
                                Toute vente d'animaux de compagnie réalisée doit s'accompagner, au moment de la livraison à l'acquéreur, de la délivrance :
                            </p>
                            <ol>
                                <li>D'une attestation de cession</li>
                                <li>D'un document d'information sur les caractéristiques et les besoins de l'animal contenant également, au besoin, des conseils d'éducation ;
                                </li>
                            </ol>
                            <p>La facture tient lieu d'attestation de cession pour les transactions réalisées entre des professionnels.</p>
                            <p>
                                Les dispositions du présent article sont également applicables à toute cession, à titre gratuit ou onéreux, par une association de protection des animaux ou une fondation consacrée à la protection des animaux.
                            </p>
                            <p>I.-Seuls les chiens et les chats àgés de plus de huit semaines peuvent faire l'objet d'une cession à titre onéreux.</p>
                            <p>II.-Ne peuvent être dénommés comme chiens ou chats appartenant à une race que les chiens ou les chats inscrits à un livre généalogique reconnu par le ministre chargé de l'agriculture.</p>
                            <p>III.-Toute cession à titre onéreux d'un chat est subordonnée à la délivrance d'un certificat de bonne santé établi par un vétérinaire.
                            </p>
                            <p>Toute cession à titre gratuit ou onéreux d'un chien est subordonnée à la délivrance d’un certificat. </p>
                            <p>Dans cette annonce doivent figurer également l'âge des animaux et l'existence ou l'absence d'inscription de ceux-ci à un livre généalogique reconnu par le ministre chargé de l'agriculture."</p>
                            <p>Toute annonce ne remplissant pas expressément ces dispositions ne pourra être publiée sur le site.
                            </p>
                            <p>Il est en outre expressément rappelé aux annonceurs que la cession à titre gratuit ou onéreux de chiens de 1ère catégorie est rigoureusement interdite, sous peine de sanctions.</p>
                            <h6 class="phbet-title">5 - Armes</h6>
                            <p class="mb20">
                                Les annonces relatives à la vente, la location ou encore l'échange d'armes sont rigoureusement interdites sur le présent site.
                            </p>
                            <h6 class="phbet-title">6 - Emploi</h6>
                            <p class="mb20">
                                Afin de respecter les dispositions législatives et réglementaires en vigueur, tout annonceur s'engage dans le cadre de la publication d'une offre d'emploi, sans aucune limite ni réserve à se conformer aux dispositions du code du travail, pour toute la procédure de recrutement, de même qu'il s'engage à ne faire preuve en aucun cas d'une quelconque attitude discriminatoire, quel qu'en soit le fondement, à l'égard des candidats et postulants.
                            </p>
                            <p>Les annonces devront être réelles et ne pourront en aucun cas se rapporter à un emploi éventuel, hypothétique ou fictif. Tout abus avéré pourra donner lieu à la suppression de l'annonce par l'éditeur.
                            </p>
                            <h6 class="phbet-title">7 - Professionnels</h6>
                            <p style="font-weight: bold">
                                Tout annonceur professionnel est tenu d'indiquer sa raison sociale, son numéro de SIREN, ainsi que ses coordonnées téléphoniques dans les champs du formulaire.
                            </p>
                            <p>Faute pour lui de remplir ces champs de formulaire, l'annonceur ne pourra prétendre à la publication de son annonce et la validation du formulaire sera refusée.
                            </p>
                        </div>
                    </div>
                    <div class="terms_condition_grid mt20">
                        <div class="grids mb30">
                            <h2>5. Souscription aux options payantes</h2>
                            <h4 class="phbet-title">a) Description des services payants</h4>
                            <p class="mb20">
                                L'éditeur propose aux annonceurs de souscrire aux options payantes suivantes :
                            </p>
                            <p>
                                <strong>Pack argent :</strong> permet de faire remonter l'annonce en tète de liste, et ceci tous les jours pendant la durée qui sera sélectionnée par l'annonceur lors du processus de commande.
                            </p>
                            <p>
                                <strong>Pack or:</strong> permet de faire remonter l'annonce en tète de liste, avec un fond coloré, et ceci tous les jours pendant la durée qui sera sélectionnée par l'annonceur lors du processus de commande.
                            </p>
                            <p>
                                <strong>Pack VIP :</strong>permet d'afficher l'annonce dans la zone  premium (à droite), pendant la durée qui sera sélectionnée par l'annonceur lors du processus de commande
                            </p>
                            <p>
                                <strong>Pack assistance :</strong> XXXXXXXXXXXXX
                            </p>
                        </div>
                        <div class="grids mb30">
                            <h4 class="phbet-title">b) Modalité de souscription aux services</h4>
                            <p class="mb20">Afin de souscrire à l'une des options proposées sur le présent site, les annonceurs devront en sélectionner la nature ainsi que, le cas échéant, la durée.
                            </p>
                            <p>
                                Les annonceurs auront la faculté de vérifier la nature des services qu'ils auront choisis et pourront vérifier leur prix unitaire ainsi que le prix global de la commande. Sur ce récapitulatif sera en outre indiqué aux clients la faculté dont ils disposent ou non d'exercer leur droit de rétractation ainsi que les délais qui s'y appliquent.
                            </p>
                            <p>
                                Si leur souscription leur convient et qu'ils souhaitent la valider, les annonceurs pourront cliquer sur le bouton valider, ils accéderont ensuite à un formulaire dans lequel ils devront saisir leurs identifiants de connexion.
                            </p>
                            <p>
                                Dès lors qu'ils seront connectés, les annonceurs seront invités à contrôler ou modifier leurs coordonnées de facturation, à lire et valider les présentes conditions générales puis à effectuer leur paiement en étant redirigés à cet effet sur l'interface de paiement sécurisée.
                            </p>
                            <p>
                                Une fois le paiement effectivement reçu par l'éditeur du site, ce dernier s'engage à en accuser réception au client par voie électronique, dans un délai raisonnable.
                            </p>
                            <p>
                                De même et dans le même délai, l'éditeur s'engage à adresser à l'annonceur un courrier électronique récapitulatif de la commande et lui en confirmant le traitement, reprenant en outre toutes les informations relatives à la commande, aux services souscrits, à leur exécution, ainsi qu'aux informations relatives à leur éventuel droit de rétractation.
                            </p>
                        </div>
                        <div class="grids mb30">
                            <h4 class="phbet-title">c) Prix et paiement</h4>
                            <p class="mb20">
                                Les prix indiqués sur le site sont entendus en FCFA, toutes taxes comprises. Les prix sont fermes, sans escompte, ni rabais, ni ristourne. Ces prix peuvent être modifiés à tout moment par l'éditeur, les prix affichés ne sont valables qu'au jour de la commande et ne portent pas effet pour l'avenir. Le prix applicable au client est celui en vigueur lors de la commande.
                            </p>
                            <p>L’annonceur peut passer commande sur le présent site et peut effectuer son règlement par Papal et paiement mobile.</p>
                        </div>
                    </div>
                    <div class="terms_condition_grid mt20">
                        <div class="grids mb30">
                            <h2>6. Dispositions relatives aux droits du consommateur</h2>
                            <h4 class="phbet-title">a) Service clientèle</h4>
                            <p class="mb20">
                                Le service clientèle du présent site est accessible du lundi au vendredi de 9 heures à 18 heures à l'adresse mail suivante:  XXXXXXX
                            </p>
                        </div>
                        <div class="grids mb30">
                            <h4 class="phbet-title">b) Droit de rétractation
                            </h4>
                            <p class="mb20">
                                Conformément à la législation en vigueur, les consommateurs disposent d'un délai de 7 jours francs à compter de la date de souscription pour en demander le remboursement au titre de leur droit de rétractation. Afin d'exercer ce droit, il leur appartient d'adresser un mail à l’adresse suivante : XXXXXX, demandant remboursement des sommes engagées par eux. <strong>Il est porté à la connaissance des consommateurs que le droit de rétractation ne peut être exercé pour les contrats de fourniture de services dont l'exécution a commencé, avec son accord, avant la fin du délai de sept jours francs.</strong>
                            </p>
                        </div>
                        <div class="grids mb30">
                            <h4 class="phbet-title">c) Retard</h4>
                            <p class="mb20">
                                Tout retard dans la réalisation du service peut entraîner la résolution de la souscription à l'initiative du consommateur, sur simple demande écrite de sa part. Le consommateur sera alors remboursé des sommes engagées par lui lors de la commande. La présente clause n'a pas vocation à s'appliquer si ce retard est du à un cas de force majeure, indépendant de la volonté de l'éditeur.
                            </p>
                        </div>
                    </div>
                    <div class="terms_condition_grid mt20">
                        <div class="grids mb30">
                            <h2>7. Newsletters des partenaires</h2>
                            <p class="mb20">
                                Le membre ayant accepté la communication de données personnelles (et notamment de son adresse de courrier électronique) à des tiers partenaires du présent site pourra être amené à recevoir des newsletters (lettres d'informations) émises par ces partenaires, à titre commercial ou non, aux fréquences et dans les formes déterminées par les dits partenaires.
                            </p>
                            <p>Le membre dispose à tout moment de la faculté de se désabonner en cliquant sur le lien prévu à cet effet, présent sur chacune des newsletters (lettres d'informations) émises par lesdits partenaires. A défaut, le membre dispose de la possibilité de se désinscrire en prenant directement contact avec le ou les émetteurs des dites newsletters (lettres d'informations). l'éditeur du présent site Internet ne saurait en aucun cas être tenu responsable du contenu, des données ou des formes des newsletters (lettres d'informations) envoyées par lesdits partenaires, quel que soit le préjudice qui aurait été subi par le membre. Toute réclamation doit directement être formulée auprès de l'émetteur de la lettre d'information.</p>
                        </div>
                    </div>
                    <div class="terms_condition_grid mt20">
                        <div class="grids mb30">
                            <h2>8. Mentions relatives à la collecte de " cookies "</h2>
                            <h4 class="phbet-title">a) Généralité à Finalité à durée</h4>
                            <p class="mb20">
                                Afin de permettre à tous les internautes une navigation optimale sur le présent site ainsi qu'un meilleur fonctionnement des différentes interfaces et applications, l'éditeur pourra procéder à l'implantation d'un cookie sur le poste informatique de l'internaute. Ce cookie permet de stocker des informations relatives à la navigation sur le site (date, page, heures), ainsi qu'aux éventuelles données saisies par les internautes au cours de leur visite (recherches, login, email, mot de passe). Ces cookies ont vocation à être conservés sur le poste informatique de l'internaute pour une durée variable allant jusqu'à un mois, et pourront être lus et utilisés par l'éditeur lors d'une visite ultérieure de l'Internaute sur le présent site.
                            </p>
                        </div>
                        <div class="grids mb30">
                            <h4 class="phbet-title">b) Droit d'opposition à l'implantation du cookie</h4>
                            <p class="mb20">
                                L'internaute dispose de la possibilité de bloquer, modifier la durée de conservation, ou supprimer ce cookie via l'interface de son navigateur (généralement : outils ou options / vie privée ou confidentialité). Dans un tel cas, la navigation sur le présent site ne sera pas optimisée. Si la désactivation systématique des cookies sur le navigateur de l'internaute l'empêche d'utiliser certains services ou fonctionnalités fournis par l'éditeur, ce dysfonctionnement ne saurait en aucun cas constituer un dommage pour l'internaute qui ne pourra prétendre à aucune indemnité de ce fait.

                            </p>
                        </div>
                        <div class="grids mb30">
                            <h4 class="phbet-title">c) Suppression des cookies</h4>
                            <p class="mb20">
                                Les internautes ont aussi la possibilité de supprimer les cookies préalablement présents sur leur ordinateur, en se rendant dans le menu de leur navigateur prévu à cet effet (généralement, outils ou options / vie privée ou confidentialité). Une telle action n'a pas d'incidence sur leur navigation sur le présent site, mais fait perdre aux internautes tout le bénéfice apporté par le cookie. Dans ce cas, ils devront à nouveau saisir toutes les informations les concernant.
                            </p>
                        </div>
                    </div>
                    <div class="terms_condition_grid mt20">
                        <div class="grids mb30">
                            <h2>9. Exonération de la responsabilité de l'éditeur dans le cadre de l'exécution du présent contrat</h2>
                            <p class="mb20">
                                En cas d'impossibilité d'accès au site, en raison de problèmes techniques ou de toutes natures, les annonceurs et visiteurs ne pourront se prévaloir d'un dommage et ne pourront prétendre à aucune indemnité.
                            </p>
                            <p>Dans la mesure où les différents services et interfaces mis à la disposition des annonceurs sur le présent site le sont à titre gratuit, l'éditeur ne sera tenu à aucune obligation à leur égard, dans le cadre de la disponibilité et du bon fonctionnement de ces services.
                            </p>
                            <p>
                                Tout dysfonctionnement ou interruption de ces services ne sera ainsi pas susceptible de constituer un dommage pour les annonceurs et visiteurs qui ne pourront prétendre à aucune indemnité de ce fait.
                            </p>
                            <p>
                                Pour les clients ayant publié une option payante pour une durée déterminée, ils verront la durée de publication de leur option prorogée pour une durée équivalente à celle de l'indisponibilité du site.
                            </p>
                            <p>
                                L'éditeur ne pourra en aucun cas être tenu responsable de l'inexécution ou de la mauvaise exécution du contrat pouvant être directement ou indirectement imputable au fait du client ou à un cas de force majeure, au sens que lui donnent les juridictions de droit français.
                            </p>
                            <p>
                                Les liens hypertextes présents sur le présent site peuvent renvoyer sur d'autres sites internet et la responsabilité de l'éditeur du présent site ne saurait être engagée si le contenu de ces sites contrevient aux législations en vigueur. De même, la responsabilité de l'éditeur du présent site ne saurait être engagée si la visite, par un internaute, de l'un de ces sites, lui causait un préjudice.
                            </p>
                        </div>
                    </div>
                    <div class="terms_condition_grid mt20">
                        <div class="grids mb30">
                            <h2>10. Les droits de propriété intellectuelle relatifs aux éléments publiés sur le présent site</h2>
                            <p class="mb20">
                                L'ensemble des éléments du présent site appartient à la société éditrice. Toute copie des logos, contenus textuels, pictographiques ou vidéos, sans que cette énumération ne soit limitative, est rigoureusement interdite et s'apparente à de la contrefaçon. Tout internaute qui se rendrait coupable de contrefaçon serait susceptible de voir initiées d'éventuelles poursuites judiciaires à son encontre, à l'initiative de l'éditeur du présent site ou de son mandataire.
                            </p>
                        </div>
                    </div>
                    <div class="terms_condition_grid mt20">
                        <div class="grids mb30">
                            <h2>11. Modification des conditions générales</h2>
                            <p class="mb20">
                                Les présentes conditions générales peuvent être modifiées à tout moment par l'éditeur du site ou son mandataire. Les conditions générales applicables à un annonceur sont celles en vigueur au jour de sa commande ou de l'utilisation du service. l'éditeur s'engage bien évidemment à conserver toutes ses anciennes conditions générales et à les faire parvenir à tout annonceur qui en ferait la demande.
                            </p>
                        </div>
                    </div>
                    <div class="terms_condition_grid mt20">
                        <div class="grids mb30">
                            <h2>12. DROIT APPLICABLE ET JURIDICTIONS COMPETENTES</h2>
                            <p class="mb20">
                                LES PRESENTES CONDITIONS GENERALES SONT SOUMISES A L'APPLICATION DU DROIT FRANÇAIS ET DE LA COMPETENCE DES JURIDICTIONS FRANÇAISES.
                            </p>
                            <p>
                                EN CAS DE LITIGE AVEC UN CLIENT N'AYANT PAS LA QUALITE DE CONSOMMATEUR AU SENS DONNE A CE TERME PAR LA LOI ET LA JURISPRUDENCE, COMPETENCE EXCLUSIVE EST ATTRIBUEE AUX TRIBUNAUX DANS LE RESSORT DESQUELS L'EDITEUR EST ETABLI.
                            </p>
                        </div>
                    </div>
                    <div class="terms_condition_grid mt20">
                        <div class="grids mb30">
                            <h2>13. Règlement amiable des litiges</h2>
                            <p class="mb20">
                                Sauf dispositions d'ordre public, tous litiges qui pourraient survenir dans le cadre de l'exécution des présentes conditions générales pourront avant toute action judiciaire être soumis à l'appréciation de l'éditeur du site en vue d'un règlement amiable. Il est expressément rappelé que les demandes de règlement amiable ne suspendent pas les délais ouverts pour intenter les actions judiciaires.
                            </p>
                        </div>
                    </div>
                    <div class="terms_condition_grid mt20">
                        <div class="grids mb30">
                            <h2>14. Divisibilité</h2>
                            <p class="mb20">
                                Si l'une des clauses des présentes conditions générales venait à être déclarée nulle par une décision de justice, cette nullité ne saurait emporter la nullité de l'ensemble des autres clauses, qui continueraient à produire leur effet.
                            </p>
                        </div>
                    </div>
                    <div class="terms_condition_grid mt20">
                        <div class="grids mb30">
                            <h2>15. Non-renonciation</h2>
                            <p class="mb20">
                                Le fait, pour les parties, de ne pas se prévaloir à titre temporaire ou permanent d'une ou plusieurs clauses des présentes conditions générales, n'emportera en aucun cas renonciation à se prévaloir du reste des conditions générales.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
