{% extends 'Front/layout.html.twig' %}
{% block title 'Contact' %}
{% block content %}
    <section class="inner_page_breadcrumb contact-bg">
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <div class="breadcrumb_content">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ path('home_bdmk') }}">Accueil</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Contact</li>
                        </ol>
                        <h4 class="breadcrumb_title">Contactez-nous</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Our Contact -->
    <section class="our-contact bgc-f7">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-xl-8">
                    <div class="form_grid">
                        <h4 class="mb5">Vous souhaitez nous contacter ?</h4>
                        <p>Notre service client est disponible de 9h à 18h, du lundi au samedi.</p>
                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success">{{ message }}</div>
                        {% endfor %}
                        {% include 'Front/Inc/form_contact.html.twig' %}
                    </div>
                </div>
                <div class="col-lg-5 col-xl-4">
                    <div class="contact_localtion">
                        <div class="content_list">
                            <h5>Adresse</h5>
                            <p>2301 Ravenswood Rd Madison, <br>WI 53711</p>
                        </div>
                        <div class="content_list">
                            <h5>Téléphone</h5>
                            <p>(315) 905-2321</p>
                        </div>
                        <div class="content_list">
                            <h5>Mail</h5>
                            <p>info@findhouse.com</p>
                        </div>
                        <div class="content_list">
                            <h5>Skype</h5>
                            <p>findhouse.com</p>
                        </div>
                        <h5>Suivez-nous</h5>
                        <ul class="contact_form_social_area">
                            <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-google"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}