{% extends 'Front/layout.html.twig' %}

{% block title 'Accueil' %}
{% block content %}
    <main class="main">
        <section class="search-home">
            <div class="container">
                <h1 class="title-home">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a</h1>
                {% include 'Front/Inc/search_home_inc.html.twig' %}
                <div class="box-btn-gv-ann">
                    <a href="#" class="btn-gv-ann"><i class="fa fa-plus-circle"></i> Déposer une annonce</a>
                </div>
            </div>
        </section>
        <div class="container">
            {% include 'Front/Inc/map_inc.html.twig' %}
            <div class="box-info-home">
                <span class="title-info-home">Title box info</span>
                <span class="text-info-home">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum commodo leo urna, nec pharetra ipsum tincidunt non.
                </span>
                <a href="#" class="btn-info-home">Découvrir Bandama Market</a>
            </div>
            <div class="home-content-texte">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum commodo leo urna, nec pharetra ipsum tincidunt non. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse sodales metus ac lobortis porta. Nullam porta venenatis nisi et bibendum. Vestibulum rutrum lorem eu est pellentesque lacinia. Sed a aliquet est, et aliquam turpis.
            </div>
        </div>
    </main>
    {% include 'Front/Inc/footer_cat_inc.html.twig' %}
{% endblock %}
