{% extends 'Front/layout.html.twig' %}

{% block title 'Mot de passe oublié' %}

{% block content %}

    <!-- Our LogIn Register -->
    <section class="our-log bgc-fa">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <input type="email" id="fgetpasswd" class="fgetpasswd" required="required" placeholder="Saisir votre mail"/>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block footer %}
    {% include 'Front/Inc/footer_copyright.html.twig' %}
{% endblock %}
